@mixin list {
  font-size: 1.5em;
  text-align: center;
  color: red;
}

.list h1,
.greeting {
  @include list;
}

.container {
  height: 700;
  border: 2px solid black;
  .sub_container {
    height: 250;
    border: 2px solid black;
  }
}

div {
  padding: 10px;
}
